@import "../../variables";
.upload_account_window{
    font-family: Georgia, "Times New Roman", Times, serif;
    position: fixed;
    top: 0%;
    left: 35%;
    width: 500px;
    z-index: 10;
	margin: 10px auto;
    background: #f4f7f8;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.5s ease-out;
    border-radius: 8px;   
    .inputs{
        line-height: 40px;
        .server_response{
            transition: all 0.3s ease-out;
        }
        .submit_button{
            display: block;
            transition: all 0.4s ease-out;
        }
        
        .error{
            color: #f10707;
            height: 100px!important;
        }
        .success{
            color: $another_green;
        }
        input{
            width: 100%;
            padding: 10px 20px;
        }
        p{
            line-height: 20px;
        }
        .hidden_text{
            opacity: 0;
            pointer-events: none;
            transform: translateY(-20px);
        }
        .show_text{
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
            color: #f10707;
        }
    }
}
.MuiDialog-paperWidthSm{
    max-width: 700px!important;
}