@import "../variables";
.db{
    input{
        width: 450px;
        height: 40px!important;
    }
    height: 100%;
    font-family: $main_font_italic;
    width: 100%;
    display: flex;
    &__main_content{
        width: 100%;
        position: relative;
        &__header{
            width: 100%;
            background: #E2EFFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                flex: 1;
            }
            .search{
                flex: 3;
                position: relative;
                .expand_icon_wrapper{
                    z-index: 2;
                    position: absolute;
                    top: 8px;
                    left: 410px;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    z-index: 2;
                    left: 390px;
                    width: 1px;
                    height: 100%;
                    background: #c3c3c3;
                }
            }   
            .actions{
                &_icon_wrapper{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;
                    svg{
                        margin-right: 30px;
                        font-size: 25px;
                        color: $main_green;
                    }
                }
            }
        }
        .data_table{
            box-shadow: 0 32px 32px rgba(0,0,0,0.11);
            border: none;
        }
    }
}