@import "../variables";
.side_bar{
    width: 150px;
    background: #4e4d4d;
    display: inline-block;
    min-height: 100vh;
    &__header{
        font-family: "P";
        font-weight: bold;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $another_green;
        height: 94px;
        h1{
            font-size: 50px;
        }
    }
    &__content_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 40px;
        margin: auto;
        .content__buttons{
            width: 100%;
            .icons{
                font-size: 35px;
                margin-top: 40px;
                color: $bright_green;
            }
        }
        .uploader{
            &:hover{
                cursor: pointer;
            }
        }
    }
    
    .submit_button{
        padding: 5px 50px;
        border-radius: 10px;
        border: none;
        color: #ffffff;
        font-weight: bold;
        background-color: $main_green;
        &:hover{
            background-color: $another_green;
        }
        &:focus{
            outline: none;
        }
    }
    .test{
        color: red;
    }
}